.chart-card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  
    &.orange .title {
      color: #ea580c;
    }
  
    .title {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  
    .chart-content {
      display: flex;
      flex-direction: column;
    }
  }
  