<aside class="sidebar" [class.collapsed]="collapsed">
  <div class="top">
    <div class="brand">
      <img src="full_logo.jpg" alt="Beyanco AI">
      <!-- <div class="icon-bg"><i class="far fa-image"></i></div>
      <span class="brand-title">RoomVision360</span> -->
    </div>
    <!-- <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="far fa-caret-square-right"></i>
    </button> -->
  </div>

  <!-- Scrollable nav area -->
  <div class="nav-wrapper">
    <nav class="nav-section">
      <p class="nav-label">Main</p>
      <a routerLink="admin-dashboardContent" routerLinkActive="active" title="Dashboard">
        <span class="fa-solid fa-gauge"></span>
        <span>Dashboard</span>
      </a>
      <a routerLink="aboutus" routerLinkActive="active" title="About Us">
        <span class="fa-solid fa-address-card"></span>
        <span>About Us</span>
      </a>
      <a routerLink="contactus-list" routerLinkActive="active" title="Contact us">
       <span class="fa-solid fa-address-book"></span>
        <span>Contact us</span>
      </a>
      <a routerLink="gallery" routerLinkActive="active" title="Gallery">
        <span class="fa-solid fa-photo-film"></span>
        <span>Gallery</span>
      </a>
      <a routerLink="#" routerLinkActive="active" title="Blogs">
        <span class="fa-solid fa-blog"></span>
        <span>Blogs</span>
      </a>
      <a routerLink="price-list" routerLinkActive="active" title="Price">
        <span class="fa-solid fa-money-bill"></span>
        <span>Price</span>
      </a>
    </nav>

    <nav class="nav-section">
      <p class="nav-label">Settings</p>
      <a routerLink="user-list" routerLinkActive="active" title="Users">
        <span class="fa-solid fa-user"></span>
        <span>Users</span>
      </a>
      <a routerLink="roles-list" routerLinkActive="active" title="Roles">
        <span class="fa-solid fa-sun"></span>
        <span>Roles</span>
      </a>
      <a routerLink="users" routerLinkActive="active" title="Profile">
        <span class="fa-solid fa-user-circle"></span>
        <span>Profile</span>
      </a>
    </nav>
    <nav class="nav-section">
      <p class="nav-label">Advertisement</p>
      <a routerLink="announcement-list" routerLinkActive="active"
        title="Announcement">
       <span class="fa-solid fa-bullhorn"></span>
        <span>Announcement</span>
      </a>
      <a routerLink="contactus-list" routerLinkActive="active" title="Contact Us">
       <span class="fa-solid fa-address-book"></span>
        <span>Contact Us</span>
      </a>
      <a routerLink="testimonials-list" routerLinkActive="active"
        title="Testimonials">
        <span class="fa-brands fa-rocketchat"></span>
        <span>Testimonials</span>
      </a>
    </nav>
  </div>

  <!-- Fixed profile at the bottom -->
  <div class="profile">
    <div class="avatar">{{ currentUser.firstName.slice(0,2).toUpperCase()}}</div>
    <div class="info">
      <p class="name">{{ currentUser.firstName || currentUser.username }}</p>
      <p class="role">{{currentUser.roles[0]}}</p>
    </div>
    <span class="fa-solid fa-arrow-right-from-bracket"  (click)="logout($event)"></span>
  </div>
</aside>