<section class="blog-section">
  <!-- Header -->
  <div class="blog-header">
    <h1>Our Blog</h1>
    <p>
      Insights, tips, and inspiration for transforming spaces into stunning
      showcases
    </p>
  </div>

  <!-- Featured Blog -->
  <div class="featured-blog">
    <div class="featured-image">
      <img src="assets/blogs/main-blog.jpg" alt="Featured Blog" />
    </div>

    <div class="featured-content">
      <span class="badge">Article</span>
      <h2>Virtual Home-staging for Real estate agents</h2>
      <p>
        How AI helps sell properties faster
      </p>

      <div class="meta">
        <span>Akash</span>
        <span>Jan 10, 2025</span>
        <span>5 min read</span>
      </div>

      <a class="read-more" (click)="openBlog('virtual-home-staging')">Read More
        →</a>
    </div>
  </div>

  <!-- Blog Grid -->
  <div class="blog-grid">
    <article class="blog-card"
      (click)="openBlog('interior-design-trends-2024')">
      <img src="assets/blogs/blog1.jpg" />
      <span class="tag">Article</span>
      <h3>Virtual Staging Vs Physical Staging</h3>
      <p>
        Which is better for Real estate Agents
      </p>
      <div class="card-meta">
        <span>Jan 10, 2025</span>
        <span>7 min read</span>
      </div>
    </article>

    <article class="blog-card" (click)="openBlog('What-is-Virtual-Staging')">
      <img src="assets/blogs/blog3.jpeg" />
      <span class="tag">Article</span>
      <h3>What is Virtual Staging in Real Estate?</h3>
      <p>
        A Complete Guide for Agents
      </p>
      <div class="card-meta">
        <span>Jan 30, 2026</span>
        <span>5 min read</span>
      </div>
    </article>
    <article class="blog-card" (click)="openBlog('why-Virtual-Staging')">
      <img src="assets/blogs/blog4.jpeg" />
      <span class="tag">Article</span>
      <h3>Why Virtual Staging</h3>
      <p>
        Is a Scalable Solution for Growing Real Estate Businesses
      </p>
      <div class="card-meta">
        <span>Jan 30, 2026</span>
        <span>4 min read</span>
      </div>
    </article>
    <article class="blog-card" (click)="openBlog('virtual-staging-solution')">
      <img src="assets/blogs/blog6.jpeg" />
      <span class="tag">Article</span>
      <h3>Challenges in Traditional Staging—and How Virtual Staging Solves Them</h3>
      <p>
       Virtual Staging, the Solution.
      </p>
      <div class="card-meta">
        <span>Feb 09, 2026</span>
        <span>5 min read</span>
      </div>
    </article>
      <article class="blog-card" (click)="openBlog('digitizing-real-estate')">
      <img src="assets/blogs/blog7.jpeg" />
      <span class="tag">Article</span>
      <h3>AI Virtual Staging Software: How It Transforms Real Estate Marketing in 2026</h3>
      <p>Digitizing Real Estate Marketing in 2026</p>
      <div class="card-meta">
        <span>Feb 09, 2026</span>
        <span>5 min read</span>
      </div>
    </article>
  </div>
</section>
