<section class="blog-section">
  <!-- Header -->
  <div class="blog-header">
    <h1>Our Blog</h1>
    <p>
      Insights, tips, and inspiration for transforming spaces into stunning
      showcases
    </p>
  </div>

  <!-- Featured Blog -->
  <div class="featured-blog">
    <div class="featured-image">
      <img src="assets/blogs/main-blog.jpg" alt="Featured Blog" />
    </div>

    <div class="featured-content">
      <span class="badge">Featured</span>
      <h2>Virtual Home-staging for Real estate agents</h2>
      <p>
        How AI helps sell properties faster
      </p>

      <div class="meta">
        <span>Akash</span>
        <span>Jan 10, 2025</span>
        <span>5 min read</span>
      </div>

      <a class="read-more" (click)="openBlog('virtual-home-staging')">Read More
        →</a>
    </div>
  </div>

  <!-- Blog Grid -->
  <div class="blog-grid">
    <article class="blog-card"
      (click)="openBlog('interior-design-trends-2024')">
      <img src="assets/blogs/blog1.jpg" />
      <span class="tag">Trends</span>
      <h3>Virtual Staging Vs Physical Staging</h3>
      <p>
        Which is better for Real estate Agents
      </p>
      <div class="card-meta">
        <span>Jan 10, 2025</span>
        <span>7 min read</span>
      </div>
    </article>

    <article class="blog-card" (click)="openBlog('What-is-Virtual-Staging')">
      <img src="assets/blogs/blog3.jpeg" />
      <span class="tag">Insights</span>
      <h3>What is Virtual Staging in Real Estate?</h3>
      <p>
        A Complete Guide for Agents
      </p>
      <div class="card-meta">
        <span>Jan 30, 2026</span>
        <span>5 min read</span>
      </div>
    </article>
    <article class="blog-card" (click)="openBlog('why-Virtual-Staging')">
      <img src="assets/blogs/blog4.jpeg" />
      <span class="tag">Insights</span>
      <h3>Why Virtual Staging</h3>
      <p>
        Is a Scalable Solution for Growing Real Estate Businesses
      </p>
      <div class="card-meta">
        <span>Jan 30, 2026</span>
        <span>4 min read</span>
      </div>
    </article>
    <!-- 

    <article class="blog-card">
      <img src="assets/blogs/blog4.jpg" />
      <span class="tag">Design Tips</span>
      <h3>Color Theory in Luxury Home Design</h3>
      <p>
        Understanding how color choices affect mood, perception, and property
        value.
      </p>
      <div class="card-meta">
        <span>Nov 28, 2024</span>
        <span>8 min read</span>
      </div>
    </article>

    <article class="blog-card">
      <img src="assets/blogs/blog5.jpg" />
      <span class="tag">Behind the Scenes</span>
      <h3>Behind the Scenes: A Day in Luxury Staging</h3>
      <p>
        Take an exclusive look at our staging process and how we transform
        spaces.
      </p>
      <div class="card-meta">
        <span>Nov 22, 2024</span>
        <span>5 min read</span>
      </div>
    </article> -->
  </div>
</section>
