.plans-page {
  /* padding: 30px; */
  font-family: sans-serif;
}

.plans-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  padding: 10px 18px;
  background: #f2c200;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

.plans-table table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
}

table th {
  background: #1f2c47;
  color: #fff;
  padding: 12px;
  text-align: left;
}

table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.badge {
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
}

.badge.active {
  background-color: #28a745;
}

.badge.inactive {
  background-color: #dc3545;
}

/* Buttons */
.view-btn,
.edit-btn {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
}

.view-btn {
  background: #0e1626;
  color: white;
}

.edit-btn {
  background: #f2c200;
  color: black;
}

.no-data {
  text-align: center;
  padding: 40px;
  font-size: 18px;
  color: #777;
}
