<div class="testimonials-list-page">
  <div class="page-header-modern">
    <h2>Testimonials List</h2>
  </div>
  <div class="list-card">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Role / Company</th>
            <th>Rating</th>
            <th>Message</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let t of testimonials">
            <td>{{ t.name }}</td>
            <td>{{ t.role }} &#64; {{ t.company }}</td>
            <td>{{ t.rating }} ★</td>
            <td>{{ t.message }}</td>

            <td class="actions">
              <button class="view-btn"
                [routerLink]="['../testimonials-form']">View</button>
              <button class="edit-btn">
                Edit
              </button>
              <button class="delete-btn">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
