<div class="user-list-page">

  <div class="page-header-modern">
    <h2>Users List</h2>
    <button class="primary-btn" routerLink="../user-form">
      + Create New User
    </button>
  </div>

  <div class="plans-table" *ngIf="!loading && users.length">

    <!-- Header -->
    <div class="table-header">
      <div>ID</div>
      <div>User Name</div>
      <div>Email</div>
      <div>First Name</div>
      <div>Last Name</div>
      <!-- <td>{{ user.company }}</td> -->
      <div>Subscription</div>
      <div>Roles</div>
      <div>Actions</div>
    </div>

    <!-- Virtual Scroll -->
    <cdk-virtual-scroll-viewport
      class="plans-viewport"
      itemSize="56">

      <div
        class="table-row"
        *cdkVirtualFor="let user of users">

        <div>{{ user.id }}</div>
        <div>{{ user.username }}</div>
        <div>{{ user.email }}</div>
        <div>{{ user.firstName }}</div>
        <div>{{ user.lastName }}</div>
        <!-- <th>Company</th> -->
        <div>{{ user.subscriptionType }} ({{ user.subscriptionStatus }})</div>
        <div>{{ user.roles[0]?.name }}</div>

        <div class="actions">
          <button class="view-btn"
            [routerLink]="['../user-form', user.id]">Edit</button>
          <button class="edit-btn"
            (click)="deleteUser(user.id)">Delete</button>
        </div>

      </div>

    </cdk-virtual-scroll-viewport>
  </div>

  <p class="no-data" *ngIf="loading">Loading users...</p>
  <p class="no-data" *ngIf="!loading && !users.length">No users found.</p>

</div>
