<section class="blog-details">
  <div class="container">
    <!-- Header -->
    <div class="details-header">
      <span class="tag">Design Tips</span>
      <h1>{{ blog.title }}</h1>

      <div class="meta">
        <span>{{ blog.author }}</span>
        <span>{{ blog.date }}</span>
        <span>{{ blog.readTime }}</span>
      </div>
    </div>

    <!-- Cover Image -->
    <div class="cover-image">
      <img [src]="blog.image" alt="Blog Cover" />
    </div>

    <!-- Content -->
    <div class="content">
      <div *ngFor="let paragraph of blog.content" [innerHTML]="paragraph"></div>
    </div>
  </div>
</section>
