.modern-card {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  /* max-width: 800px; */
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
}

.group {
  margin-bottom: 22px;
}

.group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

.group input,
.group textarea {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: #fafafa;
  transition: 0.25s;
}

.group input:focus,
.group textarea:focus {
  border-color: #7b61ff;
  background: #fff;
  box-shadow: 0 0 0 3px rgba(123, 97, 255, 0.2);
}

.group textarea {
  min-height: 140px;
}

.submit-modern {
  width: 100%;
  padding: 14px;
  background: #ffbb00;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.submit-modern:hover {
  opacity: 0.9;
}
